.card {
  border: 2px solid black !important;
  font-family: Oxygen;
  border-radius: 40px !important;
  margin: 20px;
  text-align: center;
  margin:auto



}

.card img  {
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 20px;
}
.card title {
  text-align: center;

}
.card .album {
  color: Black;
  font-family: sans-serif;
}
.card .artist {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}